.Logo {
  height: 70px;
  width: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.bg-dark {
  background-color: #1f1a69 !important;
}

.main-header {
  margin-left: 130px;
}

.customform {
  width: 50% !important;
}

.custombutton {
  background-image: linear-gradient(
    to left,
    #2af606,
    #94e600,
    #c6d500,
    #e7c300,
    #fdb22a
  );
  color: #272323;
}

.responsive {
  width: 100%;
  height: auto;
}
